.detail__wrapper{
	display: flex;
	flex-direction: column;
}

.detail__header{
	margin: 50px 0 25px 0;
	/*display: flex;
	align-items: center;
	flex-direction: column;*/
	width: 100%;
	display: flex;
	justify-content: center;
}

.poster-images{
	width: 900px;
	position: relative;
	margin-bottom:25px;

}

.poster__direction{
	position: absolute;
	bottom: 15px;
}

.poster__direction ul{
	display: flex;
}

.poster-images img{
	max-width: 100%;
}

.direction__item{
	margin-left: 15px;
	padding-right: 20px;
}

.direction__item strong{
	color: #D62C2C;
	font-weight: bold;
}


.under-images{
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 10px;
	border-bottom: 7px solid #54408C;
}

.detail__info{
	width: 90%;
	margin: 25px auto;
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
}

.info__title{
	font-size: 23px;
	font-weight: bold;
	padding-left: 15px;
	border-left: 7px solid #274BCA;
	margin-bottom: 30px;
}

p{
	margin-bottom: 20px;
}

.detail__population-article{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 75px;
}

.poster-images{
	width: 688px;
}

.poster-images img{
	max-width: 100%;
}

.article__item{
	padding-bottom: 15px;
}

.article__item a{
	text-decoration: none;
	font-weight: 300;
	color: #fff;
	transition: all 0.5s ease;
}

.article__item a:hover{
	border-bottom: 1px solid silver;
}