/* Скрол бар */
::-webkit-scrollbar{
	width: 15px;
}

::-webkit-scrollbar-track {
	background: #131414;

}

::-webkit-scrollbar-thumb {
	background: #d4d4d4;

}

/* ---------------- */

/* Основные теги */
body {
	color: white;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to right bottom, #0d0c0c, #0f0e0e, #11100f, #121111, #131312) fixed;
}

/* HEADER */
header{
	width: 1169px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}


/* LOGO */
.logo{
	display: flex;
}

.logo__image img{
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin-top: 25px;
}


.logo__text{
	cursor: pointer;
	margin-top: 45px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	transition: all 0.5s ease;
}

.logo__text:hover{
	transform: translate(5px, 5px);
}

/* Menu */

.menu{
	margin-top: 48px;
}

.menu__list{
	display: flex;
}

.menu__link{
	padding-left: 45px;
}

.menu__link a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: 300;
	transition: all 0.5s ease;
}


.menu__link a:hover{
	color: #CC2020;
}


/* Seacrh */

.seacrh{
	margin-top: 40px;
	position: relative;
}

.seacrh input{
	border: none;
	background: #000000;
	font-size: 11px;
	width: 189px;
	height: 32px;
	border-radius: 94px;
	padding-left: 15px;
}

.seacrh img{
	width: 17px;
	height: 17px;
	position: absolute;
	right: 12px;
	bottom: 20px;
	cursor: pointer;
}


/* ----------- */

/* Секция intro */
.intro{
	margin-top: 25px;
	display: flex;
	width: 100%;
	height: 90vh;
	background: rgba(6, 6, 6, 0.38);
}

/* Обертка для интро */
.intro__wrapper{
	width: 1300px;
	height: 100%;
	margin: 0 auto;
	display: flex;
}

/* Текст который будет отображаться на интро */
.intro__text{
	font-weight: bold;
	font-size: 32px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 50%;
	animation-name: animation_intro_text;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes animation_intro_text{
	0%{
		transform: translate(0, 0);
	}

	100%{
		transform: translate(15px, 15px);
	}
}

.intro__text strong{
	color: #1E6BDE;
}

#btn_telegram{
	margin-top: 32px;
	text-decoration: none;
	width: 223px;
	height: 53px;
	color: white;
	font-size: 15px;
	background: linear-gradient(93.34deg, #D22525 0.46%, #FF9900 99.43%), #4B4B4B;
	border-radius: 149px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: normal;
	box-shadow: 0px 0px 65px rgba(255, 92, 0, 0.35);
	transition: all 1s;
}

#btn_telegram:hover{
	background: linear-gradient(to right top, #2562d5, #1f6adb, #1973e1, #147be6, #1283eb);
	box-shadow: 0px 0px 65px rgba(0, 102, 255, 0.35);
}

/* Intro картинки */
.intro__images {
		display:flex;
		align-items: center;
		position: relative;

}

.intro__images img{
	width: 567px;
	pointer-events: none;
}

.intro__images span img{
	width: 175px;
	position: absolute;
	bottom: 450px;
	left: 165px;
	pointer-events: none;
	animation-name: animation_intro_images;
	animation-duration: 3s;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes animation_intro_images{
	0%{
		transform: translate(0, 0);
	}

	100%{
		transform: translate(0, 20px);
	}
}

/* ----------- */

/* Footer */
footer{
	display: flex;
	width: 100%;
	margin: 0 auto;
	background: #000000;
	opacity: 30%;
	height: 99px;
}

.footer__text{
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

/* --------- */

/* Side bar */

.blog__sidebar{
	width: 20%;
	margin-left: 10%;
	background: rgba(0, 0, 0, 38%);
}

.sidebar__category{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 49px;
	background: #3A3A3A;
	border-radius: 0px 0px 5px 5px;
	flex-direction: column;
	cursor: pointer;
}

.sidebar__category-gradient{
	width: 95px;
	height: 4px;
	background: linear-gradient(90deg, #2BCCCC 5.26%, #1973C6 100%), #FF0000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}

.nav-sidebar__category{
	width: 100%;
	height: 40px;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	display: flex;
	background: #1E1E1E;
}

.nav-sidebar__category a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
}


.category-main-active a{
	color: #00B2FF;
}

.main-category{
	margin-top: 150px;
}

.clear{
	margin-top: 15px;
}

.advirst{
	margin-top: 300px;
	width: 100%;
	background: rgba(0, 0, 0, 0.45);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 800px;
}

.advirst img{
	width: 100%;
}

.github{
	margin-top: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.github div img{
	width: 250px;
	cursor: pointer;
}

/* ----------- */

/* Burger menu */
.burger-menu img{
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.burger-menu{
	display: none; /*display: flex;*/
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	background: none !important;
	margin-top: 30px;
}

.chat-menu{
	width: 60px;
	height: 60px;
	background: #43404a;
	display: flex; /*display: flex;*/
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: fixed;
	right: 25px;
	bottom: 15px;
	align-items: center;
	justify-content: center;
	z-index: 10;
	cursor: pointer;
	transition: background 0.5s ease;
}

.chat-menu:hover{
	background: #3b5247;
}

.burger-menu:hover{
	background: #3b5247;
}

.chat-menu img{
	width: 25px;
	height: 25px;
	cursor: pointer;
}

/* ------------- */

/* Чат блок */

.block-chat{
	position: fixed;
	width: 400px;
	height: 500px;
	background: #222423;
	bottom: 0;
	right: 10px;
	z-index: 2;
	border-radius: 10px;
	bottom: -100%;
	transition: all 1s ease;
}

.open_block_chat{
	bottom: 0;
}

.title-chat{
	padding-top: 25px;
	display: flex;
	justify-content: center;
	font-size: 19px;
	font-weight: bold;
}

.chat-message{
	width: 100%;
}

.chat-message textarea{
	width: 296px;
	height: 70px;
	resize: none;
	background: #363837;
	color: white;
	border-radius: 0 0 5px 5px;
	border: none;
	margin-top: 15px;
	font-size: 16px;

}

.wrapper-chat{
	width: 300px;
	margin: 0 auto;
}

#btn_send_message{
	margin-top: 25px;
}

#btn_send_message input{
	border: none;
	width: 200px;
	height: 40px;
	border-radius: 5px;
	background: #212121;
	color: white;
	transition: background 0.5s ease;
}

#btn_send_message input:hover{
	background: #1d58ab;
}

.chat-text{
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	background: #363837;
	height: 200px;
	border-radius: 5px 5px 0 0;
}

.chat-text strong{
	color: #eb8c34;
	font-weight: bold;
}

.msg{
	margin: 15px 0 0 15px;
}
body{
	background-image: linear-gradient(to right top, #000000, #090909, #111111, #161616, #1b1b1b);
}

/* Основное меню */
.menu_block{
	position: fixed;
	right: -100%;
	top: 0;
	height: 100%;
	width: 80%;
	background: #222e63;
	z-index: 50;
	-webkit-transition: all 0.5s ease;
}

.burger_menu_link{
	padding: 25px;
}

.burger_menu_link a{
	color: white;
	text-decoration: none;
}

.open_menu{
	right: 0;
}